@font-face{
    font-family: 'poppinsmedium';
    src: url('Poppins-Medium.ttf') format('woff2') ;
    src: url('Poppins-Medium.ttf') format('woff') ;
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'poppinslight';
    src: url('/componentes/fonts/poppins/Poppins-Light.ttf') format('woff2') ;
    src: url('/componentes/fonts/poppins/Poppins-Light.ttf') format('woff') ;
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'cocomat';
    src: url('/componentes/fonts/cocomat/Cocomat\ Light-trial.ttf') format('woff2') ;
    src: url('/componentes/fonts/cocomat/Cocomat\ Light-trial.ttf') format('woff') ;
    font-weight: normal;
    font-style: normal;
}