
/*barra Fale com um designer da Eurograf */
.bgh{
    background: linear-gradient(5deg, #e931ca, #8662f9);
}

.btnheader{
    background-color: #ceffd4;
    margin-top: 10px;
    margin-left: 10px;
    width: 198px;
    height: 29px;
    border-radius: 13px;
    text-decoration: none;
    color: #8662f9;
    font-size: 18px;
    font-weight: bold;
    border: none;
}


.txth{
    
    font-size: 20px;
    color: rgb(191, 255, 234);
    font-weight: bold;
}

/* cabeçalho */

.cabecalho{
    margin-top: 30px;
}

.rds{
    margin-top: 100px;
    text-align: center;
    /* background-color: #8662f9; */
}

.redesociaiscab{
    width: 20px;
    margin: 10px 10px 10px 10px;

}

.rds{
    margin: auto;
    display: block;
    text-align: end;
    
}

.j{
    background-color: #8662f9;
    max-width: 100%;
}

.mg10{
    margin: 20px 10px 20px 10px;
}

/* BARRA PESQUISA */

.fmpi{
    border-radius: 15px 0px 0px 15px;
    padding: 5px;
    border-color: #ae00ff;
    background-color: #f9f0fd;
    margin: 0%;
}

.btfm{
    background-color: white;
    border-color:#8662f9 ;
    border-radius: 0px 20px 20px 0px;
    padding: 5px;
    width: 50px;
    margin: -5px;
}

/* MENU */
:hover.nav-item{
    border-radius: 10px;
    background-color: #ffafde;
    
}

.nav-link{
    color: #ff00c8;
    margin: 0px 20px 0px 20px;
    font-weight: 500;
    
}
:hover.nav-link{
    color: #ae00ff;
    
}
:focus.nav-link{
    color: rgb(191, 70, 247);
    font-weight: bold;
    
}
:hover.dropdown-item{
    background-color: #ffafde;
    color: #ae00ff;
    font-weight: 500;
}