/*------fontes------*/

@import url('https://fonts.googleapis.com/css2? family= Josefin+Sans:wght@300 & display=swap');



/*------Upper logo section------*/

#logo1{
    text-align: center;
    animation: fadein 3s;
    
}
.imglogo{
    position: relative;
    margin-top: -28%;
    width: 10%;
    max-width: 350px;
    left: 0%;
    animation:spin 4s ;
    
}



#divlogonome{
    text-align: center;
}

.nlog{
    width: 25%;
    margin-top: -6%;
    min-width: 250px;
    animation: fadein 5s;
    
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 5; }
}




/*------Botão entrar no site------*/

#button-home{
    margin-top: 20px;
    text-align: center;
    min-width: 250px;
    
    font: 'Josefin Sans', sans-serif;
}

.b1{
    font-size: 25px;
    padding: 10px 62px;
    background: -webkit-linear-gradient(left,#d12d9c, #5ea2ef );
    color: aliceblue;
    border-radius: 50px 20px;
    text-decoration: none;
    margin-top: 20%;
    text-align: center;
    transition-duration: 1s;
    animation: go-back 1s;
}

.b1:hover{
    background: -webkit-linear-gradient(left,#d5b6ff, #9ffdfd );
    color: #000000;
    text-decoration: none;
    border: #9900ff;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 255, 213);
    

}

@keyframes go-back {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(0);
    }
  } 
/*------Cards------*/

#cards{
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 100px;
   
}


.imgcards{
    
    width: 15%;
}


.labellanding{
        margin-top: 10px;
        font-size: 25px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;

}
.parcard{

    margin-top: 10px;
}