/*--body{
   
    background-color: #3b0660;
}

#manutencao{
    text-align: center;
    position: relative;
    
}

.imgmanutencao{
    max-width: 90%;
   
}
div{
    text-align: center;
    position: relative;
}

.retor{
    width: 5%;
    max-width: 5%;

}
--*/

#fxsuperior{
    background-color: black;
    width:100%;
    position: fixed;
    margin-top: -8px;   
    margin-left: -8px;
    height: 60px;
}

.btn-btn-secondary{

    background-color: blue;
}