
/*barra Fale com um designer da Eurograf */
.bgh{
    background: linear-gradient(5deg, #e931ca, #8662f9);
}

.btnheader{
    background-color: #ceffd4;
    margin-top: 10px;
    margin-left: 10px;
    width: 198px;
    height: 29px;
    border-radius: 13px;
    text-decoration: none;
    color: #8662f9;
    font-size: 18px;
    font-weight: bold;
    border: none;
}


.txth{
    
    font-size: 20px;
    color: rgb(191, 255, 234);
    font-weight: bold;
}

/* cabeçalho */

.cabecalho{
    margin-top: 30px;
}

.redesociaiscab{
    width: 25px;
    margin: 10px 20px 10px 20px;
}


.j{
    background-color: #8662f9;
    max-width: 100%;
}

.mg10{
    margin: 20px 90px 0px 90px;
}