/*Upper logo section*/

#logo1{
    text-align: center;
    animation: fadein 3s;
    
}
.imglogo{
    position: relative;
    margin-top: -28%;
    width: 10%;
    max-width: 350px;
    left: 0%;
    animation:spin 4s ;
    
}



#divlogonome{
    text-align: center;
}

.nlog{
    width: 25%;
    margin-top: -6%;
    min-width: 250px;
    animation: fadein 5s;
    
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 5; }
}

/*Cards*/

#cards{
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}


.imgcards{
    
    width: 15%;
}


.labellanding{
        margin-top: 10px;
        font-size: 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;

}
.parcard{

    margin-top: 10px;
}


@font-face{
    font-family: 'poppinsmedium';
    src: url('Poppins-Medium.ttf') format('woff2') ;
    src: url('Poppins-Medium.ttf') format('woff') ;
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'poppinslight';
    src: url('/componentes/fonts/poppins/Poppins-Light.ttf') format('woff2') ;
    src: url('/componentes/fonts/poppins/Poppins-Light.ttf') format('woff') ;
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'cocomat';
    src: url('/componentes/fonts/cocomat/Cocomat\ Light-trial.ttf') format('woff2') ;
    src: url('/componentes/fonts/cocomat/Cocomat\ Light-trial.ttf') format('woff') ;
    font-weight: normal;
    font-style: normal;
}