body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    background: linear-gradient(30deg, #6c166d, #6c166d, #270b55, #210253);
    background-repeat: no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.headerconfig {
    display: flex;
    flex-direction: column;
    height: 15vh;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
}

.style-menu {
    display: flex;
}

.menu-li {
    width: 14vw;
    font-family: sans-serif;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ff55c6;
    width: 11vw;
    height: 30px;

}

.menu a:hover {
    color: rgb(255, 255, 255);
    transition-duration: 300ms;
    font-size: 28px;
    border-radius: 15px;
    border: #ff0080 solid 5px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.menu a:focus {
    color: rgb(119, 255, 175);
    font-size: 28px;
    border: #00aeff solid 5px;
    border-radius: 20px;
    border-top: none;
    border-left: none;
    border-right: none;

}

.section-imglogo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 35%;
    height: 120px;
}

.section-imglogo img {
    width: 299px;
}

/* conteudo da pagina */

.vetorimg {
    max-width: 54%;
}

.cont-pg {
    margin-top: 10px;
    display: flex;
}

.cont-elements {
    display: flex;
    flex-direction: row;
}

.txt-cont {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.txt-cont h1 {
    margin: 40px 0px 0px -10px;
    font-size: 2.6vw;
    letter-spacing: 0.5rem;
    color: aqua;
}

.txt-cont h2 {
    margin: 20px 0px 30px -10px;
    font-size: 1.8vw;
    letter-spacing: 0.2rem;
    color: rgb(255, 35, 226);
    text-transform: uppercase;
}

.txt-cont P {
    margin: 0px 0px 0px -10px;
    color: rgb(235, 255, 143);
    font-size: 25px;
}

.btn-wp {
    /* botão faça um orçamento*/
    margin: 10px 0px 0px -10px;
    background-color: #00ffdd;
    width: 12vw;
    height: 7vh;
    text-align: center;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    font-size: 1.2vw;
    text-transform: uppercase;
}

.btn-wp:hover {
    /* botão faça um orçamento*/
    background-color: #ff00aa;
    color: #00ffdd;
    transition-duration: 500ms;
}

.footer-config {
    background-color: rgb(0, 9, 48);
    color: aliceblue;
}

.footer-cont {
    display: flex;
    justify-content: center;
}

.section-cont-footer {
    background-color: #ff55c600;
    margin: 30px;
    width: 500px;
}

.footer-cont h1 {
    margin: 10px 0px 0px 0px;
    font-size: 1.8vw;
    display: flex;
    align-items: center;
}

.footer-cont p {
    font-size: 1.5vw;
    color: aquamarine;
    display: flex;
    align-items: center;
    margin: 30px;

}

.rs-footer-icon {
    width: 2.2vw;
    margin: 0px 30px 0px 0px;
}

.rs-footer {
    width: 2.2vw;
    margin: 30px 30px 0px 0px;
}

.map {
    width: 28.5vw;
    height: 32vh;
}

.Copyright {
    text-align: center;
    padding: 0px 0px 30px 0px;
    font-size: 1.4vw;
}


@media only screen and (max-width: 900px) {
    .menu {
        height: 100px;
        margin-left: -20px;
    }

    .menu-li {
        font-size: 2.5vw;
        margin: 0px 0px 0px 0px;
    }

    .section-imglogo {
        justify-content: center;
    }

    .section-imglogo img {
        width: 80%;
    }


    .txt-cont h1 {
        margin: 40px 0px 0px -50px;
        font-size: 2.8vw;
        letter-spacing: 0.4rem;
    }

    .txt-cont H2 {
        max-width: 60vw;
        margin: 10px 0px 30px -50px;
        font-size: 2vw;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
    }

    .txt-cont P {
        margin: 0px 0px 0px -50px;
        color: rgb(235, 255, 143);
        font-size: 2.5vw;
    }

    .btn-wp {
        /* botão faça um orçamento*/
        background-color: #00ffdd;
        width: 15vw;
        height: 6vh;
        margin: 10px 0px 0px -50px;
        font-weight: bold;
        font-size: 2vw;
        text-transform: uppercase;
    }


    .footer-cont h1 {
        margin: 10px 0px 0px 0px;
        font-size: 2.2vw;
    }

    .footer-cont p {
        font-size: 1.8vw;
        margin: 10px 0px 10px 0px;

    }

    .rs-footer-icon {
        width: 3vw;
        margin: 0px 0px 0px 0px;
    }

    .rs-footer {
        width: 4vw;
        margin: 10px 5px 0px 0px;
    }

    .map {
        width: 26vw;
        height: 32vh;
    }

    .Copyright {
        text-align: center;
        font-size: 2vw;
    }
}

@media only screen and (max-width: 600px) {
    .menu {
        height: 70px;
        margin-left: -30px;
    }

    .menu-li {
        margin: 0px 0px 0px 0px;
    }

    .section-imglogo img {
        width: 100%;
    }

    .vetorimg {
        max-width: 80%;
    }

    .cont-elements {
        display: flex;
        flex-direction: column;
        align-items: center;

    }


    .txt-cont h1 {
        margin: 0px 0px 0px 0px;
        font-size: 6vw;
        letter-spacing: 0rem;
    }

    .txt-cont h2 {
        margin: 0px 0px 0px 0px;
        font-size: 4.5vw;
        letter-spacing: 0rem;

    }

    .txt-cont P {
        margin: 20px 0px 10px 0px;
        color: rgb(235, 255, 143);
        font-size: 4.5vw;
    }

    .btn-wp {
        /* botão faça um orçamento*/
        background-color: #00ffdd;
        width: 40vw;
        height: 6vh;
        margin: 0px 0px 0px 0px;
        font-weight: bold;
        font-size: 15px;
        text-transform: uppercase;
    }


    .footer-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .section-cont-footer {
        margin: 0px 0px 0px 0px;
        width: 70%;
        text-align: center;
    }

    .footer-cont h1 {
        margin: 30px 0px 0px 0px;
        font-size: 5vw;
        justify-content: center;
    }

    .footer-cont p {
        font-size: 4vw;
        margin: 10px 0px 0px 0px;
        justify-content: center;
    }

    .rs-footer-icon {
        width: 8vw;
        margin: 0px 0px 0px 0px;
    }

    .rs-footer {
        width: 9vw;
        margin: 0px 15px 0px 15px;

    }

    .map {
        width: 70vw;
        height: 32vh;
    }

    .Copyright {
        text-align: center;
        padding: 20px 20px 30px 20px;
        font-size: 4vw;
        text-align: justify;
    }
}